{# empty Twig template #}
<div class="form-inline my-2">
    {{form_start(formSearch)}}
    
    {{form_widget(formSearch.cherche,{'attr':('placeholder':'Entrez IMO or MMSI')})}}
    {{form_widget(formSearch.envoiimo,{'label':'Entrez IMO'})}}
    {{form_widget(formSearch.envoiimo,{'label':'Entrez MMSI'})}}
    
    {{form_end(formSearch)}}
</div>